<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <img
        src="/images/firework.png"
        class="blast"
        height="200px"
        width="200px"
        alt=""
      />
      <img
        src="/images/firework.png"
        class="blast2"
        height="200px"
        width="200px"
        alt=""
      />
      <img
        src="/images/rocket.png"
        class="rocket"
        height="30px"
        width="10px"
        alt=""
      />
      <img
        src="/images/firework.png"
        class="blast3"
        height="200px"
        width="200px"
        alt=""
      />
      <img
        src="/images/firework.png"
        class="blast4"
        height="200px"
        width="200px"
        alt=""
      />
      <img
        src="/images/rocket.png"
        class="rocket2"
        height="30px"
        width="10px"
        alt=""
      />
      <img
      src="/images/firework.png"
      class="blast5"
      height="200px"
      width="200px"
      alt=""
    />
    <img
    src="/images/firework.png"
    class="blast6"
    height="200px"
    width="200px"
    alt=""
  />

   
        <p class="message"><%= content %></p>
    </div>
  </body>
</html>
